.container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

label {
  display: block;
  position: relative;
  margin: 20px;
  padding: 35px;
  cursor: pointer;
  font-size: 22px;
  border: 1px solid black;
}

input {
  opacity: 1;
  cursor: pointer;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

label:hover input~span {
  background-color: #afdbff;
  ;
}

label input:checked~span {
  background-color: #2196F3;
}