<header>
    
    <ul>


      <li class="menu-header">
        <a>DENT ESTETE HERITAGE</a>
        <div class="menu">
          <a routerLink="/profile">Despre noi</a>
          <a routerLink="/order" >Echipa</a>
          <a routerLink="/order">Acreditari</a>
        </div>
      </li>



      <li class="menu-header">
        <a>TRATAMENTE</a>
        <div class="menu">
          <a routerLink="/profile">Implant</a>
          <a routerLink="/order" >Aparat</a>
          <a routerLink="/order">Carii</a>
        </div>
      </li>



      <li class="menu-header">
        <a>TARIFE PE CARE LE PRACTICAM</a>
        <div class="menu">
          <a routerLink="/profile">Subtarif</a>
          <a routerLink="/order" >Tarif</a>
          <a routerLink="/order">Alt tarif</a>
        </div>
      </li>
      
     
    </ul>

</header>
