<div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel aspernatur quas commodi assumenda saepe. Nostrum,
        odit at impedit, error cum nisi explicabo eligendi nulla quisquam recusandae ipsa officia dignissimos
        asperiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel aspernatur quas commodi assumenda
        saepe. Nostrum, odit at impedit, error cum nisi explicabo eligendi nulla quisquam recusandae ipsa officia
        dignissimos asperiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel aspernatur quas commodi
        assumenda saepe. Nostrum, odit at impedit, error cum nisi explicabo eligendi nulla quisquam recusandae ipsa
        officia dignissimos asperiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel aspernatur quas
        commodi assumenda saepe. Nostrum, odit at impedit, error cum nisi explicabo eligendi nulla quisquam recusandae
        ipsa officia dignissimos asperiores.
    </p>




    <div class="navbar" [ngClass]="navbarFixed ? 'fixed' : 'nofixed'">
        <h1>HEADER</h1>
    </div>




    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel aspernatur quas commodi assumenda saepe. Nostrum,
        odit at impedit, error cum nisi explicabo eligendi nulla quisquam recusandae ipsa officia dignissimos
        asperiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel aspernatur quas commodi assumenda
        saepe. Nostrum, odit at impedit, error cum nisi explicabo eligendi nulla quisquam recusandae ipsa officia
        dignissimos asperiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel aspernatur quas commodi
        assumenda saepe. Nostrum, odit at impedit, error cum nisi explicabo eligendi nulla quisquam recusandae ipsa
        officia dignissimos asperiores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel aspernatur quas
        commodi assumenda saepe. Nostrum, odit at impedit, error cum nisi explicabo eligendi nulla quisquam recusandae
        ipsa officia dignissimos asperiores.
    </p>
</div>