
 
<body>
 
    <h3>Wrap Table Cell td Content using word-break property</h3>
 
    <table >
        <tr>
            <th>Course Name</th>
            <th>Specifications</th>
            <th>Duration</th>
        </tr>
 
        <tr>
            <td>Data Structures and Algorithms</td>
            <td>
                It includes pre-recorded premium
                <span style="color: red;">
                    Videolectures & programmingquestions
                </span> for practice.
            </td>
            <td>4 months</td>
        </tr>
 
        <tr>
            <td>GFG Placement Programme</td>
            <td>
                This course helps students to prepare
                for the Recruitment drive.
            </td>
            <td>3 months</td>
        </tr>
    </table>
</body>