<div class="menu-container">
    <ul>

        <li>
            <input type="radio" name="box" id="box1" checked="checked">
            <label for="box1">MENU 1</label>

            <div class="mega">
                <h1>Title 1</h1>
                <h1>Title 2</h1>
                <h1>Title 3</h1>
            </div>
        </li>

        <li>
            <input type="radio" name="box" id="box2">
            <label for="box2">MENU 2</label>

            <div class="mega">
                <h1>Title 4</h1>
                <h1>Title 5</h1>
            </div>
        </li>

    </ul>
</div>