<div class="wrapper">
    <div class="box">

        <input type="radio" name="box" id="box1" checked="checked">
        <label for="box1">HTML</label>
        <div class="content">
            <h1>What is HTML?</h1>
            <p>box 1 - box 1 - box 1 - box 1 - box 1 - box 1 - box 1 - box 1 
                - box 1 - box 1 - box 1 - box 1 - box 1 - box 1 - box 1 - box 1 - box 1
                - box 1 - box 1 - box 1 - box 1 - box 1 - box 1 - box 1 - box 1 - box 1
                - box 1 - box 1 - box 1 - box 1 - box 1 - box 1 - box 1 - box 1 - box 1
            </p>
        </div>

        <input type="radio" name="box" id="box2">
        <label for="box2">CSS</label>
        <div class="content">
            <h1>What is CSS?</h1>
            <p>box 2 - box 2 - box 2 - box 2 - box 2 - box 2 - box 2 - box 2 - box 2
                - box 2 - box 2 - box 2 - box 2 - box 2 - box 2 - box 2 - box 2 - box 2
                - box 2 - box 2 - box 2 - box 2 - box 2 - box 2 - box 2 - box 2 - box 2
                - box 2 - box 2 - box 2 - box 2 - box 2 - box 2 - box 2 - box 2 - box 2
            </p>
        </div>

        <input type="radio" name="box" id="box3">
        <label for="box3">JAVASCRIPT</label>
        <div class="content">
            <h1>What is JAVASCRIPT?</h1>
            <p>box 3 - box 3 - box 3 - box 3 - box 3 - box 3 - box 3 - box 3 - box 3
                - box 3 - box 3 - box 3 - box 3 - box 3 - box 3 - box 3 - box 3 - box 3
                - box 3 - box 3 - box 3 - box 3 - box 3 - box 3 - box 3 - box 3 - box 3
                - box 3 - box 3 - box 3 - box 3 - box 3 - box 3 - box 3 - box 3 - box 3
            </p>
        </div>
        
    </div>
</div>