<div class="container">
    <div class="page-title">
        <h1>Vertical Mega Dropdown Menu <br /><small>With Pure CSS3</small></h1>
        <small>By <a href="http://www.devaradise.com/id">Devaradise</a></small>
    </div>
    <div class="mega-menu">
        <ul>
            <li class="menu-item menu-1">
                <a href="#">Multivitamin & Suplemen</a>
                <div class="mega-submenu">
                    <h2>Multivitamin & Suplemen</h2>
                    <div class="submenu-content">
                        <div class="section links">
                            <ul>
                                <li><a href="#">Lorem Ipsum 1</a></li>
                                <li><a href="#">Lorem Ipsum 2</a></li>
                                <li><a href="#">Vitamin A</a></li>
                                <li><a href="#">Vitamin B</a></li>
                                <li><a href="#">Vitamin C</a></li>
                                <li><a href="#">Asam Folat</a></li>
                                <li><a href="#">Vitamin E</a></li>
                            </ul>
                        </div>
                        <div class="section featured-product">
                            <div class="product-detail">
                                <div class="badge">Featured</div>
                                <img src="https://lab.devaradise.com/codepen-assets/featured-product.jpg"
                                    class="thumb" />
                                <div class="product-desc">
                                    <a class="title" href="#">Wellness Echinaciae + Vit C isi 30</a>
                                    <div class="price">Rp. 170.000</div>
                                    <a href="#" class="btn-atc">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="section promotions">
                            <a href="#" class="promo promo 1">
                                <img src="https://lab.devaradise.com/codepen-assets/promo-1.jpg" class="thumb" />
                            </a>
                            <a href="#" class="promo promo 2">
                                <img src="https://lab.devaradise.com/codepen-assets/promo-2.jpg" class="thumb" />
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu-item menu-2">
                <a href="#">Jamu & Herbal</a>
                <div class="mega-submenu">
                    <h2>Jamu & Herbal</h2>
                    <div class="submenu-content">
                        <div class="section links">
                            <ul>
                                <li><a href="#">Lorem Ipsum 4</a></li>
                                <li><a href="#">Lorem Ipsum 5</a></li>
                                <li><a href="#">Vitamin X</a></li>
                                <li><a href="#">Vitamin Y</a></li>
                                <li><a href="#">Vitamin Z</a></li>
                                <li><a href="#">Jamu & Herbal</a></li>
                                <li><a href="#">Vitamin GH</a></li>
                                <li><a href="#">Vitamin NL</a></li>
                            </ul>
                        </div>
                        <div class="section featured-product">
                            <div class="product-detail">
                                <div class="badge">Featured</div>
                                <img src="https://lab.devaradise.com/codepen-assets/featured-product.jpg"
                                    class="thumb" />
                                <div class="product-desc">
                                    <a class="title" href="#">Wellness Echinaciae + Vit C isi 30</a>
                                    <div class="price">Rp. 170.000</div>
                                    <a href="#" class="btn-atc">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="section promotions">
                            <a href="#" class="promo promo 1">
                                <img src="https://lab.devaradise.com/codepen-assets/promo-1.jpg" class="thumb" />
                            </a>
                            <a href="#" class="promo promo 2">
                                <img src="https://lab.devaradise.com/codepen-assets/promo-2.jpg" class="thumb" />
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="menu-item menu-3">
                <a href="#">Vaksinasi di Rumah</a>
                <div class="mega-submenu">
                    <h2>Vaksinasi di Rumah</h2>
                    <div class="submenu-content"> </div>
                </div>
            </li>
            <li class="menu-item menu-4">
                <a href="#">Alat Kesehatan</a>
                <div class="mega-submenu">
                    <h2>Alat Kesehatan</h2>
                    <div class="submenu-content"> </div>
                </div>
            </li>
            <li class="menu-item menu-5">
                <a href="#">Obat Asam Urat</a>
                <div class="mega-submenu">
                    <h2>Obat Asam Urat</h2>
                    <div class="submenu-content"> </div>
                </div>
            </li>
            <li class="menu-item menu-6">
                <a href="#">Obat Darah Tinggi</a>
                <div class="mega-submenu">
                    <h2>Obat Darah Tinggi</h2>
                    <div class="submenu-content"> </div>
                </div>
            </li>
            <li class="menu-item menu-7">
                <a href="#">Obat Diabetes</a>
                <div class="mega-submenu">
                    <h2>Obat Diabetes</h2>
                    <div class="submenu-content"> </div>
                </div>
            </li>
            <li class="menu-item menu-8">
                <a href="#">Obat Jantung</a>
                <div class="mega-submenu">
                    <h2>Obat Jantung</h2>
                    <div class="submenu-content"> </div>
                </div>
            </li>
            <li class="menu-item menu-9">
                <a href="#">Obat Kolesterol</a>
                <div class="mega-submenu">
                    <h2>Obat Kolesterol</h2>
                    <div class="submenu-content"> </div>
                </div>
            </li>

        </ul>
    </div>

</div>