<div>
    <ul class="menu">
        <li>
            <a href="#">MEGA MENU 1</a>
            <div class="megadrop">

                <div class="col">
                    <h3>Title 1</h3>
                    <ul>
                        <li><a href="#">Sub-menu 1</a> </li>
                        <li><a href="#">Sub-menu 2</a> </li>
                        <li><a href="#">Sub-menu 3</a> </li>
                    </ul>
                </div>

                <div class="col">
                    <h3>Title 2</h3>
                    <ul>
                        <li><a href="#">Sub-menu 1</a> </li>
                        <li><a href="#">Sub-menu 2</a> </li>
                        <li><a href="#">Sub-menu 3</a> </li>
                    </ul>
                </div>

                <div class="col">
                    <h3>Title 3</h3>
                    <ul>
                        <li><a href="#">Sub-menu 1</a> </li>
                        <li><a href="#">Sub-menu 2</a> </li>
                        <li><a href="#">Sub-menu 3</a> </li>
                    </ul>
                </div>

            </div>
        </li>


        <li>
            <a href="#">MEGA MENU 2</a>
            <div class="megadrop">

                <div class="col">
                    <h3>Title 4</h3>
                    <ul>
                        <li><a href="#">Sub-menu 1</a> </li>
                        <li><a href="#">Sub-menu 2</a> </li>
                        <li><a href="#">Sub-menu 3</a> </li>
                    </ul>
                </div>

                <div class="col">
                    <h3>Title 5</h3>
                    <ul>
                        <li><a href="#">Sub-menu 1</a> </li>
                        <li><a href="#">Sub-menu 2</a> </li>
                        <li><a href="#">Sub-menu 3</a> </li>
                    </ul>
                </div>

            </div>
        </li>

        <li>
            <a href="#">MEGA MENU 3</a>
            <div class="megadrop"> </div>
        </li>
        <li>
            <a href="#">MEGA MENU 4</a>
            <div class="megadrop"> </div>
        </li>

    </ul>
</div>