<div class="container">

    <div class="image">
        <img src="assets/cars/audi_1.jpg" alt="image">
        <span>&times;</span>
    </div>
    <div class="image">
        <img src="assets/cars/audi_2.jpg" alt="image">
        <span>&times;</span>
    </div>
    <div class="image">
        <img src="assets/cars/audi_3.jpg" alt="image">
        <span>&times;</span>
    </div>
    <div class="image">
        <img src="assets/cars/audi_4.jpg" alt="image">
        <span>&times;</span>
    </div>
    <div class="image">
        <img src="assets/cars/audi_5.jpg" alt="image">
        <span>&times;</span>
    </div>

</div>